<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink="/"><img src="../../assets/logo2.png" style="height: 40px;width: 350px;" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" [ngx-scroll-to]="'#about'">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" [ngx-scroll-to]="'#projects'">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" [ngx-scroll-to]="'#contact'">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Header -->
<header class="masthead background-gold">
  <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <img class="diamonbuilt-logo" src="../../assets/logo.png" alt="Diamondbuilt">
          <h1 class="mx-auto my-0 text-uppercase">Diamondbuilt Development Corporation</h1>
          <img class="img-webuildtolast" src="../../assets/webuildtolast.png" alt="Diamondbuilt">
        </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center background-gold">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 mx-auto"></div>
      <div class="col-lg-10 mx-auto">
        <br>
        <br>
        <h2 class="text-black mb-4">About Us</h2>
        <p><b>Diamondbuilt Development Corporation</b> is a real estate company based in Cebu City and was founded by a businesswoman who is a business graduate at the University of San Carlos. The name Diamondbuilt is inspired by her perspective of the company, it means unbeatable, long-lasting, classy and a symbol of success. <br><br>
        <b>Diamondbuilt Development Corporation</b> is established in 2018 and continues to operate based on the principle of providing high quality commercial and residential properties to individuals, families, and investors. DBDC strongly believes in upholding exceptional service to the customers from their reservation to finally having their dream place they wish to keep for life.</p>
        <h2 class="text-black mb-4">Mission</h2>
        <p>
            Our projects at Diamondbuilt Development Corporation is to develop and deliver a comfortable living environment across the entire nation and become one of the most reputable and valuable real estate developers in the country with integrity and accountability using both proven and innovative methods.
        </p>
        <div class="featured-text w-100 my-auto text-center text-lg-left">
            <h2 class="text-black mb-4">Vision</h2>
            <p class="mb-0 text-black">Our vision is to deliver a high quality Residential and
              Commercial projects that correlate with Global developers. <br>
              We intend to achieve this vision in the context of our core
              values.
            </p>
            <ul>
              <li>Efficiency</li>
              <li>Growth</li>
              <li>Professionalism</li>
              <li>Quality</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-1 mx-auto"></div>
  </div>
    
</section>

  <!-- projects Section -->
  <section id="projects" class="projects-section-imperialhights bg-light">
    <div class="container">
        <div class="mx-auto text-center">
            <button class="btnProject"   routerLink="/projects" [ngx-scroll-to]="'#project'">More Info</button>
        </div>
    </div>
  </section>
  <!-- projects Section -->
  <section id="resortandresidence" class="projects-section-resortandresidence bg-light">
      <div class="container">
          <div class="mx-auto text-center">
              <button class="btnProject"   routerLink="/resorts-and-residences" [ngx-scroll-to]="'#resortandresidencedetail'">More Info</button>
          </div>
      </div>
    </section>
 <!-- projects Section -->
 <section id="bonheurdelaville" class="projects-section-bonheurdelaville bg-light">
  <div class="container">
      <div class="mx-auto text-center">
          <button class="btnProject"   routerLink="/bon-huer-de-la-ville" [ngx-scroll-to]="'#bonheurdelavilledetail'">More Info</button>
      </div>
  </div>
</section>
  <!-- Contact Section -->
  <section id="contact" class="contact-section background-gold">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
              <div class="col-md-10">
                  <div class="tab-content">
                    <div id="cebubranch"  class="tab-pane fade active show">
                          <div class="row">
                            <div class="col-md-5">
                              <p class="contact-header">For more information about projects, please contact</p>
                              <br>
                              <p class="companyname">Diamondbuilt Development Corporation Unit F, 3rd Floor B&F Paray Bldg., Capitol, Cebu City</p>
                                  <br>
                              <ul class="contactList">
                                <li>Marketing Head</li>
                                <li><img class="phone" src="../../assets/icon/phone.png" alt="">
                                  0943 310 2682</li>
                                <li>0915 873 6360</li>
                              </ul>
                              <ul class="contactList">
                                <li>Landline Office</li>
                                <li><img class="phone" src="../../assets/icon/phone.png" alt="">
                                  (032)4790305</li>
                              </ul>
                              <ul class="contactList">
                                <li>Office phone number</li>
                                <li><img class="phone" src="../../assets/icon/phone.png" alt="">09950915505 / 09398587206</li>
                              </ul>
                              <ul class="contactList">
                                <li>Accounting</li>
                                <li><img class="phone" src="../../assets/icon/phone.png" alt=""> 09273743294 / 09297954014</li>
                              </ul>
                            </div>
                            <div class="col-md-7"><img src="../../assets/images/office-map.png" class="contactmap float-right img-fluid img-rounded"></div>
                          </div>
                    </div>
                  </div>
              </div>

        </div>  
    </div>
</section>



  
