
.background-gold {
  background: -webkit-linear-gradient(0deg,#fad35f,#fde8aa,#fad35f);
}

#mainNav {
  min-height: 56px;
  background-color: #212529 !important;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  /* background-color: transparent; */
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  /* background-color: transparent; */
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: #fff;;
  }
  
  #mainNav .nav-link:hover {
    color: #fff;
  }
  #mainNav .nav-link:active {
    color:  #fff;
  }
  #mainNav .navbar-shrink {
    background-color: #fff;
  }
 
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    color: #fff;
    cursor: pointer;
  }
  #mainNav .nav-link:hover {
    color: #fff;
  }
  #mainNav .nav-link:active {
    color: #fff;
  }

  .btn {
    width: 150px;
    height: 60px;
    padding-top: 15px;
  }
  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 52rem;
    padding: 8rem 0;
    background: url("../../assets/new-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
  }
  
  .masthead h1 {
    padding-top: 5px;
    font-family: 'Times New Roman';
    font-size: 2rem !important;
    line-height: 2.0rem;
  }

  .masthead h2 {
    max-width: 50rem !important;
    font-size: 5rem;
    font-family: "Raph Lanok Future";
    color: #161616;
  }

  .diamonbuilt-logo {
    width: 400px;

  }
  .img-webuildtolast {
    width: 650px;
  }
  
  .masthead h3 {
    max-width: 20rem;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  .about-section {
    padding: 5rem 10rem 12rem 0rem;
  }
  .about-section h2 {
    text-align: left;
    font-size: 30px;
  }
  .about-section p {
    margin-bottom: 5rem;
    font-size: 1rem;
    text-align: justify;
  }

  .projects-section-imperialhights  {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 52rem;
    padding: 8rem 0;
    background: url("../../assets/images/imperialhights.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .projects-section-resortandresidence {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 52rem;
    padding: 8rem 0;
    background: url("../../assets/images/resortandresidence/resortandresidences.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .btnProject {
      margin-top: 20rem;
      background: -webkit-linear-gradient(0deg,#fad35f,#fde8aa,#fad35f);
      padding: .375rem .75rem;
      box-shadow: 2px 2px;
      display: inline-block;
      font-size: 1rem;
      border-radius: .25rem;
      border: 1px solid transparent;
      width: 150px;
      height: 60px;
      padding-top: 10px;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnProject::after {
  background-color: transparent;
}

.button:after {
  background-color: transparent;
  box-shadow: 2px 2px;

}
  .projects-section-imperialhights  .featured-text {
    padding: 2rem;
  }

  .projects-section-imperialhights  .dimension {
    padding: 10rem;
  }
  
 
  @media (min-width: 992px) {
    .projects-section-imperialhights  .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  
  .projects-section-imperialhights  .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects-section-imperialhights  .project-text {
      padding: 5rem;
    }
    .projects-section-imperialhights  .project-text hr {
      border-color: #64a19d;
      border-width: .25rem;
      width: 30%;
    }
  }

  .contact-section {
    padding: 10rem 10rem 8rem 0rem;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%); */
  }

  .contactList {
    list-style: none;
    margin-left: -40px;
    font-size: .9rem;
  }

  .companyname {
    font-size: .9rem;
    margin-bottom: -10px;
  }

  .phone {
    width: 12px;
    padding-bottom: 2px;
  }

  .contactmap {
    width: 100%;
    height: 95%;
  }
.contact-header { 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
  Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.2rem;
  margin-bottom: -5px;
  padding-bottom: 0;
}
 

