a {
  padding-top: 16px;
}

.projects {
    padding: 7rem;
    background-color: #fff;
  }
  .projects .featured-text {
    padding: 2rem;
  }

  .projects .dimension {
    padding: 10rem;
  }
  
  @media (min-width: 992px) {
    .projects .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  
  .projects .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects .project-text {
      padding: 5rem;
    }
    .projects .project-text hr {
      border-color: #64a19d;
      border-width: .25rem;
      width: 30%;
    }
  }
