<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p>&copy; 2019 DIAMONDBUILT DEVELOPMENT CORPORATION</p>
      </div>
      <div class="col-lg-6">
        <ul class="iconlist">
          <li><a href="https://www.facebook.com"><img alt="" class="icon" src="../../../assets/icon/fb.png"></a></li>
          <li><a href="https://twitter.com"><img alt="" class="icon" src="../../../assets/icon/instagram.png"></a></li>
          <li><a href="https://www.instagram.com"><img alt="" class="icon" src="../../../assets/icon/twitter.png"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>