
.bg-black {
    background: #0d0d0d;;
  }
ul {
  margin-top: 15px;
  float: right;
}
ul li{
  display: inline;
  padding-right: 10px;
}

.icon {
  width: 40px;
}
p {
  padding: 1rem 0;
  margin-top: 10px;
    font-weight: 300;
    color: #fff;
}

.row {
  padding: 1rem;
}
.container {
  max-width: 1140px;
}